---
layout: 'base.njk'
---
<article class="main-article">
<div style="margin-left:25%;" class="container container--custom flow">
    <h1 class="article-title" style={{font-size:"5rem"}}>
      {{title}}
    </h1>
    <figure class="main-article__figure">
      <img style={{"margin-left:25%;"}} src="{{ image }}">
    </figure>
    <div style="padding:2.5rem; max-width: 70vw;">
    {{ content | safe }}
    </div>
</div>
</article>
