
<header class="page-header" style="top:1rem; padding:2.5rem; margin-left:13%;border-radius:25px;width:80vw;">
  <div class="container">
    <div class="page-header__content">
      {# <img width="100px" src="/assets/blog/nokitasm_no_subtitle.PNG"> #}
      <nav style={{"margin-left:25%;"}}>
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
</header>
