---
title: example
layout: 'base.njk'
---
    <main>
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 style="font-size:4rem" class="section-title">Welcome to Nokitasm's blog!</h1>
        <p style="width:600px;">My name is Sam, I work at Bosch as a Rust Software Engineer</p>
        <p>Here I collected all my favorite posts where I talk about projects I worked on, experiences and so on.</p>
        <div class="flex-group">
          <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
          <a style="color:black;" href="./blog" class="btn btn--neutral">Most recent articles</a>
        </div>
      </div>
      <div>
        <img max-width="900px" src="/assets/blog/profile_pic.jpg" alt="Samuel Nocita">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles" style="margin-left:0%;max-width:100vw;">
  <div class="container flow">
    <h2 class="section-title text-center" style="font-size:5rem;">Featured articles</h2>
    <p class="text-center" style="color:black;">More to be added.</p>
    <ul role="list" class="articles__list flow"><li>
      {%- for post in collections.post | reverse -%}
    {% include 'article-snippet.njk' %}
  {% endfor %}
    </main>
